<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Book Creator Machine</title>
</head>
<body>
	<p>{{template_string}}</p>
	<p>There is The Greatest Book Creator Machine in the whole World!!!<p>
	<p>Choose your action:</p>
	<form action = "" method = "post">
		<input type = "submit" name = "next" value = "Create">
	</form>
	<p></p>
	<form action = "" method = "post">
		<input type = "submit" name = "next" value = "Read">
	</form>
	<p></p>
	<form action = "" method = "post">
		<input type = "submit" name = "next" value = "Update">
	</form>
	<p></p>
	<form action = "" method = "post">
		<input type = "submit" name = "next" value = "Delete">
	</form>
</body>
</html>